



/*
HEADING FONT: font-family: 'Montserrat', sans-serif;
BODY FONT:    font-family: 'Open Sans', sans-serif;
*/

// Brand Colours

$VeryDarkGreyishBlue: #556270;
$ModerateCyan: #4ecdc4;
$SoftGreen: #c7f464;
$VerySoftBlue: #a8c0db;

body {
  margin: 0;
  background: linear-gradient(0deg,rgba(85, 98, 112, .85),rgba(85, 98, 112, .5)), url(../../images/background2.jpg);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -60%);
    p {
      text-align: center;
      font-size: 22px;
      text-transform: uppercase;
      color: $SoftGreen;
      font-style: italic;
    }
}

h1 {
	font-size:175px;
  text-align:center;
  font-weight:bold;
  display:block;
  margin:0px;
  line-height:1em;
}

.three-dee {
  color:#556270;
  text-shadow: 10px 6px rgba($ModerateCyan,0.8), -10px 3px rgba($SoftGreen,0.8); 
  letter-spacing:2px;
}

footer {
  clear: both;
  width: 100%;
  margin-top: 10;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
    .footer {
      text-align: center;
    }
    a {
      text-decoration: none;
    }
}


//MAIN CONTENT

ul{ 
  // background-color: lightgreen;
  padding: 0;
  max-width: 65%;
  margin: 5% auto;
  list-style-type: none;
}


.container{ //this is the li
  text-align: center;
  color: $VerySoftBlue;
  margin: 2% 0;
    h2 {
      float: left;
      width: 100%;
      color: $SoftGreen;
      font-size: 25px;
    }

    .left{
      float: left;
      // height: 1%;
      width: 35%;
      // background-color: lightpink;
        img{
          display: block;
          margin: 10% auto;
          width: 200px;
        }

        p{
          text-align: center;
          // background-color: lightpink;
        }
    }

    .right{
      float: left;
      width: 63%;

        .overview{
          text-align: left;
          text-overflow: ellipsis;

        }
    }

    .spotify{
      float: left;
      width: 100%;
      .iframe{
        width: 95%;
        &:nth-child(2){
          margin: 0.5% 0;
        }
      }
    }

  } 

  .tps-wrapper,{
    background: $VeryDarkGreyishBlue;
    box-shadow: 5px 10px rgba(#4ecdc4,0.8), -7px 6px rgba(#c7f464,0.8);
  }

//MAIN CONTENT ENDS

//SEARCH BAR

form {  
  width: 65%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 1%;
  background-color: $VeryDarkGreyishBlue;
  font-size: 18px;
  color: $SoftGreen;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  box-shadow: 7px 12px rgba(#4ecdc4,0.8), -9px 8px rgba(#c7f464,0.8);
  z-index: 1;

    .search-items {
      display: inline-block;
      width: 30.33%;
      #movie-name{
        width: 100%;
        height: 2vh;
        padding: 1%;
        font-size: 16px;
        &:focus{
          outline: none;
          border: 3px $SoftGreen solid;
        }
      }
    }

    button {
      color: $SoftGreen;
      cursor: pointer;
      padding: 2% 10%;
      font-size: 18px;
      border: 1px $SoftGreen solid;
      background-color: transparent;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;      
    }
    button:hover {
      background-color: $VerySoftBlue;
    }
}

footer{
  // border: 1px $SoftGreen solid;
  float: left;
  // margin-top: 5%;
  .f-top{
    color: $SoftGreen;
    a{
      color: $SoftGreen;
      font-size: 30px;
    }
  }
  .f-bottom{
    font-size: 10px;
    a{
      color: $SoftGreen;
      margin: 0 2%;
    }
  }

}

.isStuck {
  transform: translateX(-50%);
  left: 50%;
}









@media (max-width: 1175px){
   form{
    width: 90%;
   }
   ul{
    max-width: 90%; 
  }
}

@media (max-width: 760px){
  .container .overview, .left p{
    display: none;
  }
  .container h2{
    font-size: 24px;
  }
  .container .left{
    width: 40%;
  }
  .container .right{
    width: 60%;
  }
  .container .left img{
    width: 200px;
  }
  .container .spotify{
    // border: 1px black solid;
    margin-top: 28px;
    iframe{
      width: 90%;
      height: 100px;
    }
  }
}


@media (max-width: 840px){
  h1{
    font-size: 100px;
  }
  .header p{
    font-size: 18px;
  }
}

@media (max-width: 575px){
  .container .left{
    display: none;
  }
  .container .right{
    width: 100%;
    .iframe{
      width: 90%;
    }
  }
}


@media (max-width: 480px){
  h1{
    font-size: 60px;
  }
  h2{
    margin-top: 10%;
  }
  .right{
    border-top: 2px $ModerateCyan solid;
    .spotify .iframe{
      width: 90%;
    }
  }
  .three-dee {
    color: $SoftGreen;
    text-shadow: none; 
    letter-spacing:2px;
  }
  form{
    text-align: none;
    margin: 0 auto;
  }
  form .search-items{
    width: 75%;
  }
  form [for="movie-name"]{
    display: none;
  }
  form button{
    margin-top: 4%;
    padding: 2% 5%;
    font-size: 12px;
  }
}